# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lab_inventory?schema=public"

# Base Application URL for QR Code Target Resolution
NEXT_PUBLIC_APP_URL="http://localhost:3000"
